
body {
background-image: url(back5.jpg);
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;


}
 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 40px
}

li a:hover {
    background-color: #111;
}

.display4{
	font-family: Noto Sans CJK TC Light;
	font-size:3em;
}

.lead{
	font-size:1em;
}
.emoji{
	font-size:10em;
}

h1{
	font-family: Noto Sans CJK TC Light;

}

#toptext{
	padding:25px 10px 20px 425px;
}

#questions{
	padding:0px 10px 20px 20px;

}

form{
	padding:10px 10px 20px 20px;

}